<ion-view view-title="Employees">

  <ion-nav-bar class="bar-calm pm-header">
    <!-- back button, shown if applicable -->
    <ion-nav-back-button>
    </ion-nav-back-button>
    <!-- nav button, shown if applicable -->
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-header-bar class="bar bar-subheader bar-subheader-wide employees-subheader" ng-if="employees.length > 0">
    <div class="employees-length">
      <span>You currently have {{employees.length}} employee<span ng-if="employees.length > 1">s</span>.</span>
    </div>
    <div>
      <label class="item item-input employees-filter">
        <input type="text" placeholder="Search by keywords or personal data..." ng-model="$parent.keywords">
      </label>
    </div>
  </ion-header-bar>

  <ion-content ng-class="{'has-subheader-wide': employees.length > 0}">
    <div class="list-empty" ng-if="employees.length === 0">
      <div><i class="ion-android-person-add list-empty-icon"></i></div>
      <p>Your employees list is empty.<br />Press the floating button to add new employee.</p>
    </div>

    <!-- content goes here -->
    <ion-list show-reorder="reorder" show-delete="delete" ng-if="employees.list !== 0">
      <ion-item employee="employee" ui-sref="main.employeeDetail({employeeId: employee.id})" class="item item-avatar employee-wrapper" ng-repeat="employee in employees | filter:keywords">

        <div class="employee-avatar">
          <span class="employee-avatar-label">
            {{employee.firstname | firstLetter}}{{employee.lastname | firstLetter}}
          </span>
        </div>
        <div class="employee-personal-data">
          <h2>{{employee.firstname}}&nbsp;{{employee.lastname}}</h2>
          <p>
            <span><i class="ion-android-mail"></i></span>
            <span>{{employee.email}}</span>
          </p>
          <p>
            <span><i class="ion-android-phone-portrait"></i></span>
            <span>{{employee.phone}}</span>
          </p>
        </div>
        <ion-delete-button class="ion-minus-circled" ng-click="deleteItem($index)"></ion-delete-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(employee, $fromIndex, $toIndex)"></ion-reorder-button>

      </ion-item>
    </ion-list>
  </ion-content>

  <button class="button-new-employee" ui-sref="main.newEmployee">
    <span><i class="ion-android-add"></i></span>
  </button>
</ion-view>
