<ion-view view-title="Payment history">

	<ion-nav-bar class="bar-calm pm-header">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

  <ion-content>
		<ion-list>
    
      <ion-item class="item item-avatar employee-wrapper history-items" ng-repeat="payment in payments | filter:keywords">

        <div class="employee-personal-data payment-history-item">
          <h2 class="payment-history-title">{{payment.firstname | uppercase}}&nbsp;{{payment.lastname | uppercase}}</h2>
          <div class="payment-history-details">
            <div class="payment-history-details-item">
              <span class="payment-history-icon"><i class="ion-calendar"></i></span>
              <span>{{payment.date}}</span>
            </div>
            <div class="payment-history-details-item">
              <span class="payment-history-icon"><i class="ion-social-usd"></i></span>
              <span>
                <span ng-if="currency === '$'">{{currency}}</span>
                <span>{{payment.total}}</span>
                <span ng-if="currency === 'PLN' || currency === '€'">{{currency}}</span>
              <ion-option-button class="button-assertive button-history-detail"  ng-click="openPaymentDetailModal(payment.paymentId)"><span class="history-icon"><i class="ion-clipboard"></i><span></ion-option-button>
              </span>
            </div>
          </div>
        </div>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
