<ion-view view-title="History">

	<ion-nav-bar class="bar-calm pm-header">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

  <!-- do you want padding -->
  <ion-content class="padding">
		History section here.
  </ion-content>
</ion-view>
