<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu content -->
    <ion-content>
      <ion-list>
        <!-- username -->
        <ion-item class="item item-avatar user-wrapper">

        <div class="user-avatar">
          <span class="user-avatar-label">
            {{initials}}
          </span>
        </div>
        <div class="user-personal-data">
          <h2>{{username | uppercase}}</h2>
        </div>
          <!-- 
            <span><i class="ion-android-mail"></i></span>
            <span>{{employee.email}}</span>
          </p>
          <p>
            <span><i class="ion-android-phone-portrait"></i></span>
            <span>{{employee.phone}}</span>
          </p>
        </div> -->
      </ion-item>

        <ion-item class="menu-item" menu-close ui-sref="main.employees" ui-sref-active="active">
          <span class="menu-icon"><i class="ion-android-people"></i></span>
          <span>Employees</span>
        </ion-item>
        <ion-item class="menu-item" menu-close ui-sref="main.history" ui-sref-active="active">
          <span class="menu-icon"><i class="ion-android-time"></i></span>
          <span>History</span>
        </ion-item>
        <ion-item class="menu-item" menu-close ui-sref="main.settings" ui-sref-active="active">
          <span class="menu-icon"><i class="ion-settings"></i></span>
          <span>Settings</span>
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
