<ion-view view-title="New employee">

	<ion-nav-bar class="bar-calm pm-header">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

	<ion-content class="has-button">

		<!-- content goes here -->
		<form novalidate name="newEmployeeForm">
			<div class="list list-no-margin">
				<label class="item item-input item-floating-label">
					<span class="input-label">First Name</span>
					<input name="firstname" type="text" placeholder="First Name" ng-model="employee.firstname" required>
					<span class="error-field" ng-if="newEmployeeForm.firstname.$dirty && newEmployeeForm.firstname.$invalid">{{errors.required}}</span>
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Last Name</span>
					<input name="lastname" type="text" placeholder="Last name" ng-model="employee.lastname" required>
					<span class="error-field" ng-if="newEmployeeForm.lastname.$dirty && newEmployeeForm.lastname.$invalid">{{errors.required}}</span>
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Phone</span>
					<input name="phone" phone-input type="text" placeholder="Phone" maxlength="9" ng-model="employee.phone" required>
					<span class="error-field" ng-if="newEmployeeForm.phone.$dirty && newEmployeeForm.phone.$invalid">{{errors.required}}</span>
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Email</span>
					<input name="email" type="email" placeholder="Email" ng-model="employee.email" required>
					<span class="error-field" ng-if="newEmployeeForm.email.$dirty && !newEmployeeForm.email.$required && newEmployeeForm.email.$invalid">{{errors.email}}</span>
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Address</span>
					<input name="address" type="text" placeholder="Address" ng-model="employee.address" required>
					<span class="error-field" ng-if="newEmployeeForm.address.$dirty && newEmployeeForm.address.$invalid">{{errors.required}}</span>
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">City</span>
					<input name="city" type="text" placeholder="City" ng-model="employee.city" required>
					<span class="error-field" ng-if="newEmployeeForm.city.$dirty && newEmployeeForm.city.$invalid">{{errors.required}}</span>
				</label>

				<label class="item item-input">
					<div class="input-label">
						Birthday
					</div>
					<input name="birthday" type="date" id="exampleInput" name="date" ng-model="employee.birthday" placeholder="yyyy-MM-dd" min="1900-01-01" max="{{maxDate}}"/>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Country
					</div>
					<select name="country" ng-model="employee.country">
						<option value="uk">UK</option>
						<option value="usa">USA</option>
						<option value="pl">PL</option>
					</select>
				</label>

				<label class="item item-input item-select">
					<div class="input-label">
						Payment type
					</div>
					<select name="payment" ng-model="employee.payment" required>
						<option value="salary">Salary</option>
						<option value="hourly">Hourly</option>
					</select>
					<span class="error-field" ng-if="newEmployeeForm.payment.$dirty && newEmployeeForm.payment.$invalid">{{errors.required}}</span>
				</label>

			</div>
			<button class="button button-full button-positive button-create-employee" ng-disabled="newEmployeeForm.$invalid" on-touch="createNewEmployee()">
			  <span>Create new employee</span>
			</button>
		</form>

	</ion-content>
</ion-view>
