<ion-view view-title="Settings">
	<ion-nav-bar class="bar-calm pm-header">
    <!-- back button, shown if applicable -->
    <ion-nav-back-button>
    </ion-nav-back-button>
    <!-- nav button, shown if applicable -->
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- do you want padding? -->
  <ion-content>

    <!-- content goes here -->
    <ion-list>
      <ion-item class="item item-button-right settings-container-wrapper">
        <div class="settings-container">
          Logged in as: {{currentUsername}}
        </div>
        <div class="settings-icon" on-touch="openModal('username')">
          <i class="icon ion-android-open"></i>
        </div>
      </ion-item>

      <div class="list">

        <!-- app-wide currenncy -->
        <ion-item class="item item-currency settings-container-wrapper">
          <div class="settings-container">
            <span>Set currency:&nbsp;</span>
            <span ng-if="currencyInfo.currency === 'pln' ">{{currencies[0].name}}</span>
            <span ng-if="currencyInfo.currency === 'usd' ">{{currencies[1].name}}</span>
            <span ng-if="currencyInfo.currency === 'eur' ">{{currencies[2].name}}</span>
          </div>
          <div class="settings-icon" on-touch="openModal('currency')">
            <i class="icon ion-android-open"></i>
          </div>
        </ion-item>

        <!-- @TODO notifications -->
        <ion-toggle toggle-class="toggle-assertive" ng-model="notifications" ng-change="pushNotification()">
          Payment reminders
        </ion-toggle>
        
      </div>
    </ion-list>

  </ion-content>
</ion-view>
