.view-container {
	font-family: $font-family-base;
}

.scroll {
	background-color: $pm_white;
}

.menu-item {
	border: 0;
	.item-content {
		@include flex;
		@include align-center;
		.menu-icon {
			font-size: 28px;
		    margin-right: 10px;
		}
	}
	&.active {
	    border: 0;
		border-left: 5px solid $pm_accent;
	    background-color: $pm_white !important;
	    color: $pm_accent;
	    .item-content {
	    	background-color: $pm_white !important;
	    }
	}
}

.pm-header {
	background-color: $pm_base !important;
	h1 {
		color: white;
	}
	.button-reorder {
		font-size: 21px !important;
	}
}