/*
* EMPLOYEES LIST
*/
.has-subheader-wide {
	top: 132px;
}

.bar-subheader-wide {
	height: 88px;
}

.employees-subheader {
	@include flex;
	@include flex-direction-column;
	padding: 0;
	.employees-length {
		@include flex;
		@include justify-center;
		@include align-center;
		height: 44px;
		width: 100%;
		color: $pm_base;
		background: none;
		background-color: $pm_lightwhite;
	}
	.employees-filter {
		background-color: $pm_white;
		border-bottom: 5px solid $pm_accent;
	}
}

.list-empty {
    @include flex;
    @include align-center;
    @include justify-center;
    @include flex-direction-column;
    height: 100vh;
    color: $pm_gray;
    p {
    	text-align: center;
    	line-height: 25px;
    }
    .list-empty-icon {
    	color: $pm_gray;
    	font-size: 42px;
    }
}

.button-new-employee {
    @include flex;
    @include align-center;
    @include justify-center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
    border-radius: 50%;
    background-color: $pm_accent_two;
    height: 50px;
    width: 50px;
    border: 0;
    color: $pm_white;
    font-size: 19px;
    padding: 0;
    box-shadow: 0px 2px 5px #AAAAAA;
}

.employee-wrapper {
	@include flex;
	@include align-center;
	padding: 0;
	.item-content {
	    @include flex;
	    @include align-center;
	    padding: 16px;
	    width: 100%;
		.employee-avatar {
			@include flex;
			@include align-center;
			@include justify-center;
			border-radius: 50%;
			height: 50px;
			width: 50px;
		    background-color: $pm_lightgray;
		    margin-right: 16px;
		    .employee-avatar-label {
		    	font-size: 18px;
		    	color: $pm_white;
		    }
		}
		.employee-personal-data {

		}
	}
	.item-content {
		border: 0;
	}
}

/*
* EMPLOYEE DETAIL
*/
.employee-detail-wrapper {
	.detail-header {
		margin-bottom: 16px;
	}
}
.detail-name {
	@include flex;
	@include justify-center;
	@include align-center;
	height: 100px;
    font-size: 26px;
    padding: 20px;
    background-color: $pm_white;
    color: $pm_accent_two;
    padding: 20px;
    border-left: 5px solid $pm_accent_two;
}
.detail-attribute-wrapper {
    height: 60px;
    @include flex;
    @include align-center;
    font-size: 16px;
    border-bottom: 1px solid $pm_white;
    .detail-icon {
	    @include flex;
		@include justify-center;
		@include align-center;
	    height: 100%;
	    width: 65px;
	    font-size: 21px;
	    color: $pm_accent;
	    border-left: 5px solid $pm_accent;
	    &.top {
	    	border: 0;
	    	width: 60px;
	    	color: $pm_white;
	    	background-color: $pm_accent;
	    	&.activated {
	    		background-color: $pm_white;
	    		color: $pm_accent;
	    	}
	    }
	}
	.detail-label {
		@include flex;
		@include align-center;
		background-color: $pm_lightwhite;
		padding-left: 16px;
	    height: 100%;
        width: calc(100vw - 65px);
	    font-size: 16px;
	    color: $pm_base;
        border-left: 1px solid $pm_lightgray;
        &.top {
	        width: calc(100vw - 60px);
        }
	}
	.detail-label-minor {
		@include flex;
		@include justify-center;
		@include align-center;
		height: 60px;
		width: 100%;
	    font-size: 18px;
	    padding: 20px;
	    background-color: $pm_white;
	    color: $pm_accent_two;
	    padding: 20px;
		border-left: 5px solid $pm_accent_two;
	}
}

.detail-chart {
	@include flex;
	@include align-center;
	@include justify-center;
	height: 300px;
	.detail-chart-label {
		color: $pm_mediumgray;
	}
	&.border {
		border-left: 5px solid $pm_lightgray;
	}
	.chart-container {
		// canvas {
		// 	width: 100% !important;
		// 	height: 200px !important;
		// }
	}
}

.history-items {
	.item-content {
		padding: 0;
	}
	.button-history-detail {
		@include flex;
		@include justify-center;
		@include align-center;
		background-color: $pm_accent;
		.history-icon {
			font-size: 24px;
		}
		&.activated {
			background-color: $pm_lightgray;
			color: $pm_base;
		}
	}
}

.payment-detail-modal {
	.button-save {
		margin: 0;
	}
}
