.payment-question {
	@include flex;
	@include align-center;
	@include justify-center;
}

.payment-details {
	.payment-detail-item {
		@include flex;
		@include align-center;
		@include justify-center;
		width: 100%;
		color: $pm_white;
		border: 0;
		padding: 0;
		&.payment-employee {
			font-size: 21px;
		}
	}
}

.payment-type-info {
	@include flex;
	@include justify-center;
	@include align-center;
	height: 44px;
	width: 100%;
	color: $pm_base;
	background: none;
	background-color: $pm_lightwhite;
}

.new-payment-form {
	input {
		width: 100%;
	}
}

.button-save {
	background-color: $pm_accent;
	color: $pm_white !important;
	&.activated {
		background-color: $pm_white;
		color: $pm_accent;
		border: 0;
	}
}

.pm-checkbox {
	.checkbox {
		input:checked:before {
			background-color: $pm_accent_two;
			border-color: $pm_accent_two;
		}
	}
}

.employee-personal-data {
	&.payment-history-item {
		width: 100%;
		.payment-history-title {
			@include flex;
			@include justify-center;
		    background-color: $pm_accent_two;
		    color: $pm_white;
		    padding: 8px;
		    width: 100%;
		}
		.payment-history-details {
			@include flex;
			@include justify-center;
			@include flex-direction-column;
			background-color: $pm_lightwhite;
		    padding: 0px 8px;
		    width: 100%;
		    .payment-history-details-item {
		    	padding: 8px 0px;
		    }
		    .payment-history-details-item:first-child {
			    border-bottom: 2px solid $pm_mediumgray;
		    }
		    .payment-history-icon {
		    	font-size: 18px;
		    	margin-right: 16px; 
		    }
		}
	}
}
