$pm_white:			#FDFDFD !default;
$pm_lightwhite:     #EAEAEA !default;
$pm_lightgray:		#DDDDDD !default;
$pm_gray:           #CACACA !default;
$pm_mediumgray:     #ABABAB !default;
$pm_base:			#21192E !default;
$pm_accent:         #36B1BF !default;
$pm_accent_two:     #FBB100 !default;
$pm_warning:        #E74C3C !default;

@mixin flex() {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin align-center() {
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin justify-center() {
	-webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin justify-flex-start() {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@mixin justify-flex-end() {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@mixin justify-space-between() {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin flex-direction-column() {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
