<ion-view view-title="NewEmployee">
	<ion-content>

		<!-- content goes here -->
		<form name="newEmployeeForm">
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">First Name</span>
					<input type="text" placeholder="First Name" ng-model="employee.firstname" required>
					<span ng-if="newEmployeeForm.employee.firstname.$error.required">{{errors.required}}</span>
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Last Name</span>
					<input type="text" placeholder="Last name" ng-model="employee.lastname" required>
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Phone</span>
					<input phone-input type="text" placeholder="Phone" maxlength="9" ng-model="employee.phone">
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Email</span>
					<input type="email" placeholder="Email" ng-model="employee.email">
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">Address</span>
					<input type="text" placeholder="Address" ng-model="employee.address">
				</label>

				<label class="item item-input item-floating-label">
					<span class="input-label">City</span>
					<input type="text" placeholder="City" ng-model="employee.city">
				</label>

				<label class="item item-input">
					<div class="input-label">
						Birthday
					</div>
					<input type="date" id="exampleInput" name="date" ng-model="employee.birthday" placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required/>
				</label>

				<label class="item item-input item-select" required>
					<div class="input-label">
						Country
					</div>
					<select name="gender" ng-model="employee.country" required>
						<option value="uk">UK</option>
						<option value="usa">USA</option>
						<option value="pl">PL</option>
					</select>
				</label>

				<label class="item item-input item-select" required>
					<div class="input-label">
						Gender
					</div>
					<select name="gender" ng-model="employee.gender" required>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</label>

			</div>
			<button class="button button-full button-positive" on-touch="createNewEmployee()">
			  Create new employee
			</button>
		</form>

	</ion-content>
</ion-view>
